/* .notice{
    color: #333;
    border-radius: 3px;
    padding: 35px 30px;
    background-color: rgb(223, 47, 47);
    box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    text-align: center;
} */