*{
    margin:0;
    padding:0;
}
#logo{
    margin:20px 30px 40px 30px;
}
#logo span{
    font-size: 23px;
    margin:20px;
}
#container{
    height:500px;
    background: url(bg.png);
}
#login{
    width:200px;
    /* height:200px; */
    background-color:rgba(33, 33, 33, 0.5);
    margin-right:20px;
    color:white;
}
#login button{
    width:90%;height:30px;
    background-color: rgb(24, 168, 241);
    color:#fff;
    border:0;
    /* outline:0; */
    margin:auto;
}
#show{
    height:200px;
    background-color:rgb(245,245,245);
}
#footer{
    height:200px;
}